Source: lingmo-desktop-base
Section: misc
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 12)
Homepage: https://github.com/LingmoOS

Package: lingmo-desktop-base
Architecture: any
Provides: deepin-appstore-config
Conflicts: deepin-desktop-server
Depends: ${misc:Depends}, distro-info-data,
 eject, fonts-noto, fonts-symbola
Description: The basic file of Velora Desktop, 
 provides system attribute description for Velora components
